@font-face {
  font-family: "Gotham Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../src/static/fonts/GothamRounded-Bold.otf");

  /* font-family: "MyFont"; */
  /* src: local("MyFont"), url(./fonts/MyFont.woff) format("woff"); */
}
body {
  font-family: "Gotham Rounded";
}
